---
import BaseLayout from "@/layouts/BaseLayout.astro";
import MainCard from "@/components/MainCard.astro";

const innerText = await fetch("https://v1.hitokoto.cn?c=k&c=i&c=j")
  .then((response) => response.json())
  .then((data) => data.hitokoto + "——【" + data.from + "】")
  .catch((_) => "路漫漫其修远兮，吾将上下而求索——【离骚】");
---

<BaseLayout title="Home">
  <MainCard
    title="demohiiiii's blog"
    description="demohiiiii 胡乱写东西的地方"
    textOverlay="HOME"
    infoIcon="lucide:info"
    random="true"
    imageSize="1920/600"
  >
    <div class="space-y-8">
      <!-- Hero Section -->
      <section class="py-6">
        <div class="flex flex-col items-center text-center">
          <h1
            class="text-4xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent leading-loose"
          >
            {innerText}
          </h1>
        </div>
      </section>
    </div>
  </MainCard>
</BaseLayout>
